@font-face {
    font-family: icomoon;
    font-style: normal;
    font-weight: 500; /* font-medium -> 500 */
    src: url('./eot/icomoon.eot') format('embedded-opentype'),
    url('./eot/icomoon.eot') format('embedded-opentype');
}

@font-face {
    font-family: icomoon;
    font-style: normal;
    font-weight: 500; /* font-medium -> 500 */
    src: url('./svg/icomoon.svg') format('svg'),
    url('./svg/icomoon.svg') format('svg');
}

@font-face {
    font-family: icomoon;
    font-style: normal;
    font-weight: 500; /* font-medium -> 500 */
    src: url('./ttf/icomoon.ttf') format('truetype'),
    url('./ttf/icomoon.ttf') format('truetype');
}

@font-face {
    font-family: icomoon;
    font-style: normal;
    font-weight: 500; /* font-medium -> 500 */
    src: url('./woff/icomoon.woff') format('woff'),
    url('./woff/icomoon.woff') format('woff');
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-CLOSE:before {
    content: "\e90b";
}
.icon-ic_baseline-share:before {
    content: "\e902";
}
.icon-NEXT:before {
    content: "\e908";
}
.icon-Before:before {
    content: "\e909";
}
.icon-lets-icons_close-ring-duotone:before {
    content: "\e907";
    color: #000;
}
.icon-location:before {
    content: "\e900";
}
.icon-chat:before {
    content: "\e901";
    color: #000;
}
.icon-fa6-solid_list:before {
    content: "\e903";
    color: #000;
}
.icon-chevron-LEFT:before {
    content: "\e904";
}
.icon-IconRIGHT:before {
    content: "\e90a";
}
.icon-mingcute_menu-fill:before {
    content: "\e905";
    color: #000;
}
.icon-Question:before {
    content: "\e906";
    color: #000;
}