@tailwind base;
@layer base{
    :root{
        --theme-normal: 213,0,0;
        --theme-focus: 154,7,7;
        --theme-shadow-light: rgba(212, 17, 24, 0.3);
        --theme-shadow-normal: rgba(212, 17, 24, 0.5);
        --theme-shadow-focus: rgba(212, 17, 24, 0.8);
        --theme-radius: 8px;
    }
    .theme_arian{
        --theme-normal: 213,0,0;
        --theme-focus: 154,7,7;
        --theme-shadow-light: rgba(212, 17, 24, 0.3);
        --theme-shadow-normal: rgba(212, 17, 24, 0.5);
        --theme-shadow-focus: rgba(212, 17, 24, 0.8);
    }
    .theme_saipa{
        --theme-normal: 46,48,146;
        --theme-focus: 21,23,105;
        --theme-shadow-light: rgba(21, 23, 105, 0.3);
        --theme-shadow-normal: rgba(21, 23, 105, 0.5);
        --theme-shadow-focus: rgba(21, 23, 105, 0.8);
    }
    .theme_arya{
        --theme-normal: 237,32,39;
        --theme-focus: 212,17,24;
        --theme-shadow-light: rgba(185, 28, 28, 0.3);
        --theme-shadow-normal: rgba(185, 28, 28, 0.5);
        --theme-shadow-focus: rgba(185, 28, 28, 0.8);
    }
    .theme_carizan{
        --theme-normal: 38,108,149;
        --theme-focus: 0,91,146;
        --theme-shadow-light: rgba(0, 91, 146, 0.3);
        --theme-shadow-normal: rgba(0, 91, 146, 0.5);
        --theme-shadow-focus: rgba(0, 91, 146, 0.8);
    }
    .theme_pilsan{
        --theme-normal: 64,63,59;
        --theme-focus: 39,39,39;
        --theme-shadow-light: rgba(39, 39, 39, 0.3);
        --theme-shadow-normal: rgba(39, 39, 39, 0.5);
        --theme-shadow-focus: rgba(39, 39, 39, 0.8);
    }
    .theme_bahman{
        --theme-normal: 15,15,15;
        --theme-focus: 5,5,5;
        --theme-shadow-light: rgba(5, 5, 5, 0.3);
        --theme-shadow-normal: rgba(5, 5, 5, 0.5);
        --theme-shadow-focus: rgba(5, 5, 5, 0.8);
    }
    .theme_mayan{
        --theme-normal: 220,53,69;
        --theme-focus: 184,34,48;
        --theme-shadow-light: rgba(184, 34, 48, 0.3);
        --theme-shadow-normal: rgba(184, 34, 48, 0.5);
        --theme-shadow-focus: rgba(184, 34, 48, 0.8);
    }
    .theme_titan{
        --theme-normal: 36,31,71;
        --theme-focus: 27,22,62;
        --theme-shadow-light: rgba(27, 22, 62, 0.3);
        --theme-shadow-normal: rgba(27, 22, 62, 0.5);
        --theme-shadow-focus: rgba(27, 22, 62, 0.8);
    }
    .theme_rakhsh{
        --theme-normal: 26,27,29;
        --theme-focus: 15,15,15;
        --theme-shadow-light: rgba(15, 15, 15, 0.3);
        --theme-shadow-normal: rgba(15, 15, 15, 0.5);
        --theme-shadow-focus: rgba(15, 15, 15, 0.8);
    }
    .theme_mammut{
        --theme-normal: 36,31,71;
        --theme-focus: 27,22,62;
        --theme-shadow-light: rgba(27, 22, 62, 0.3);
        --theme-shadow-normal: rgba(27, 22, 62, 0.5);
        --theme-shadow-focus: rgba(27, 22, 62, 0.8);
    }
    .theme_soroush{
        --theme-normal: 38,108,149;
        --theme-focus: 13,59,86;
        --theme-shadow-light: rgba(13, 59, 86, 0.3);
        --theme-shadow-normal: rgba(13, 59, 86, 0.5);
        --theme-shadow-focus: rgba(13, 59, 86, 0.8);
    }
    .theme_farda{
        --theme-normal: 33,63,90;
        --theme-focus: 29,45,60;
        --theme-shadow-light: rgba(29, 45, 60, 0.3);
        --theme-shadow-normal: rgba(29, 45, 60, 0.5);
        --theme-shadow-focus: rgba(29, 45, 60, 0.8);
    }
    .theme_caspian{
        --theme-normal: 62,118,235;
        --theme-focus: 55,91,167;
        --theme-shadow-light: rgba(55, 91, 167, 0.3);
        --theme-shadow-normal: rgba(55, 91, 167, 0.5);
        --theme-shadow-focus: rgba(55, 91, 167, 0.8);
    }
    .theme_amico{
        --theme-normal: 33,63,90;
        --theme-focus: 29,45,60;
        --theme-shadow-light: rgba(29, 45, 60, 0.3);
        --theme-shadow-normal: rgba(29, 45, 60, 0.5);
        --theme-shadow-focus: rgba(29, 45, 60, 0.8);
    }
    .theme_ikco{
        --theme-normal: 1,87,158;
        --theme-focus: 0,61,111;
        --theme-shadow-light: rgba(0, 61, 111, 0.3);
        --theme-shadow-normal: rgba(0, 61, 111, 0.5);
        --theme-shadow-focus: rgba(0, 61, 111, 0.8);
    }
    .theme_azhitech{
        --theme-normal: 33,63,90;
        --theme-focus: 14,32,48;
        --theme-shadow-light: rgba(14, 32, 48, 0.3);
        --theme-shadow-normal: rgba(14, 32, 48, 0.5);
        --theme-shadow-focus: rgba(14, 32, 48, 0.8);
    }
    .theme_shayan{
        --theme-normal: 25,53,120;
        --theme-focus: 9,33,75;
        --theme-shadow-light: rgba(9, 33, 75, 0.3);
        --theme-shadow-normal: rgba(9, 33, 75, 0.5);
        --theme-shadow-focus: rgba(9, 33, 75, 0.8);
    }

    .rounded_none{
        --theme-radius: 0px;
    }
    .rounded_sm{
        --theme-radius: 2px;
    }
    .rounded_base{
        --theme-radius: 4px;
    }
    .rounded_md{
        --theme-radius: 6px;
    }
    .rounded_lg{
        --theme-radius: 8px;
    }
    .rounded_xl{
        --theme-radius: 12px;
    }
    .rounded_2xl{
        --theme-radius: 16px;
    }

    .iframe_styles > * {
        width: 100%;
    }
}
@tailwind components;

/* Font IRANSansX */
@layer components {
    /* @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 100;
        src: url('../fonts/woff/IRANSansX-Thin.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-Thin.woff2') format('woff2');
    } */

    /* @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 200;
        src: url('../fonts/woff/IRANSansX-UltraLight.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-UltraLight.woff2') format('woff2');
    } */

    /* @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 300;
        src: url('../fonts/woff/IRANSansX-Light.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-Light.woff2') format('woff2');
    } */

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: normal; /* font-normal -> font-weight: 400; */
        src: url('../fonts/woff/IRANSansX-Regular.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-Regular.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 500; /* font-medium -> font-weight: 500; */
        src: url('../fonts/woff/IRANSansX-Medium.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-Medium.woff2') format('woff2');
    }

    /* @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 600;
        src: url('../fonts/woff/IRANSansX-DemiBold.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-DemiBold.woff2') format('woff2');
    } */

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: bold;
        src: url('../fonts/woff/IRANSansX-Bold.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-Bold.woff2') format('woff2');
    }

    /* @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 800;
        src: url('../fonts/woff/IRANSansX-ExtraBold.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-ExtraBold.woff2') format('woff2');
    } */

    /* @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 900;
        src: url('../fonts/woff/IRANSansX-Black.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-Black.woff2') format('woff2');
    } */
}

@layer components {
    .flex_center{
        @apply flex items-center justify-center;
    }

    .caption_color{
        @apply text-label-700;
    }

    .bg_skeleton{
        @apply bg-[#d8d8d8] animate-pulse;
    }

    .bg_skeleton_smooth{
        @apply bg-[#eee] animate-pulse;
    }

    .evenOdd_cards{
        @apply even:bg-white odd:bg-[#f5f5f5];
    }

    .sameCategoryBtnStyle{
        @apply w-full font-medium cursor-pointer text-lg h-11 flex_center;
    }

    .castegoryBtnfilled{
        @apply text-white bg-stone-700 hover:bg-stone-800;
    }

    .categoryBtnEmpty{
        @apply bg-white border text-stone-700 border-stone-400 hover:border-stone-500;
    }

    /* .skeleton{
        @apply bg-gradient-to-r from-[rgba(156,156,156,0.1)] via-[rgba(156,156,156,0.2)] to-[rgba(156,156,156,0.1)];
    } */
}

@tailwind utilities;
@layer utilities{
    .bg_skeleton_size{
        background-size: 1200px 104px;
    }
}

body{
    direction: rtl;
}


/* slider styles starts */
.slider_type_1 .swiper-button-prev, .slider_type_1 .swiper-button-next {
    @apply hidden top-auto bottom-8 drop-shadow-base rounded-custom size-12 lg:flex_center after:text-base after:font-bold after:rotate-180;
}
.slider_type_1.arrow-bottom .swiper-button-prev, .slider_type_1.arrow-bottom .swiper-button-next {
    @apply bottom-8 bg-white/70 after:text-[#2F3136];
}
.slider_type_1.arrow-blur-bottom .swiper-button-prev, .slider_type_1.arrow-blur-bottom .swiper-button-next {
    @apply bottom-8 xl:bottom-14 xl:after:text-5xl after:text-3xl after:text-white/75 hover:after:text-white;
}
.slider_type_1.arrow-blur-center .swiper-button-prev, .slider_type_1.arrow-blur-center .swiper-button-next {
    @apply top-1/2 -translate-y-1/2 xl:after:text-5xl after:text-3xl after:text-white/75 hover:after:text-white;
}
.slider_type_1.arrow-blur-bottom .swiper-button-next {
    @apply lg:left-20 xl:left-40 2xl:left-80;
}
.slider_type_1.arrow-blur-bottom .swiper-button-prev {
    @apply lg:right-20 xl:right-40 2xl:right-80;
}
.slider_type_1.arrow-blur-center .swiper-button-next {
    @apply lg:left-8;
}
.slider_type_1.arrow-blur-center .swiper-button-prev {
    @apply lg:right-8;
}
.slider_type_1.arrow-center .swiper-button-prev, .slider_type_1.arrow-center .swiper-button-next {
    @apply bottom-1/2 translate-y-1/2 bg-white/70 after:text-[#2F3136];
}
.slider_type_1.arrow-center-transparent .swiper-button-prev, .slider_type_1.arrow-center-transparent .swiper-button-next {
    @apply bottom-1/2 translate-y-1/2 bg-transparent border border-stone-200 after:text-stone-200;
}
.slider_type_1 .swiper-button-prev {
    @apply after:content-['prev'];
}
.slider_type_1 .swiper-button-next {
    @apply after:content-['next'];
}
.slider_type_1 .swiper-pagination .swiper-pagination-bullet{
    @apply w-2 h-2 transition-transform duration-300 rounded-full opacity-50 bg-white;
}
.slider_type_1.stone_paginate .swiper-pagination .swiper-pagination-bullet{
    @apply bg-stone-700;
}
.slider_type_1 .swiper-pagination .swiper-pagination-bullet-active{
    @apply w-6 opacity-80;
}

.slider_type_1.arrow-blur-bottom {
    @apply relative before:absolute before:content-[''] before:left-0 before:w-full before:bottom-0 before:h-44 before:hidden lg:before:block before:z-[2] before:bg-gradient-to-t before:from-black before:to-transparent;
}

.slider_type_1.arrow-bottom .custom_gradient, .slider_type_1.arrow-center .custom_gradient, .slider_type_1.arrow-center-transparent .custom_gradient{
    @apply hidden;
}
/* slider styles ends */

/* articles styles starts */
.swiper.articleSliderTypeFive{
    @apply px-4 lg:px-0;
}
.swiper.articleSliderTypeFive .swiper-button-next, .swiper.articleSliderTypeFive .swiper-button-prev{
    @apply h-full top-0 hidden lg:flex w-28 justify-center items-start pt-28 xl:pt-32 after:size-12 after:flex_center after:bg-white/70 after:rounded-custom after:border after:border-[#7B808C] before:absolute before:top-32 xl:before:top-36 before:size-2 before:translate-x-1/2 before:translate-y-1/2;
}
.swiper.articleSliderTypeFive .swiper-slide{
    @apply w-72 lg:w-auto sm:w-[22rem];
}
.swiper.articleSliderTypeFive .swiper-button-prev{
    @apply bg-gradient-to-r from-transparent to-white right-0 before:border-r-[#2F3136] before:border-t-[#2F3136] before:border-r-2 before:border-t-2 before:content-[''] before:right-14 before:rotate-45;
}
.swiper.articleSliderTypeFive .swiper-button-next{
    @apply bg-gradient-to-l from-transparent to-white left-0 before:border-l-[#2F3136] before:border-b-[#2F3136] before:border-l-2 before:border-b-2 before:content-[''] before:left-12 before:rotate-45;
}

.swiper.articleSliderTypeFive .swiper-pagination{
    @apply static;
}
.swiper.articleSliderTypeFive .swiper-pagination .swiper-pagination-bullet{
    @apply w-2 h-2 rounded-lg opacity-50 bg-normal;
}
.swiper.articleSliderTypeFive .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    @apply w-4 opacity-100;
}
/* articles styles ends */